<!DOCTYPE html>
<html>
<head>
    <title>Fantasy MVP</title>
</head>
<body>
    <h1>Welcome to FantasyMVP!</h1>
    <p>Create your own custom spreadsheet, practice with mock drafts, or use during your live draft to help you get the best team possible!</p>
    <!-- Create three buttons: Statistics, Mock Draft, and Live Draft that lead to the respective pages. -->
    <button type="button" onclick="location.href='/statistics'">Statistics</button>
    <button type="button" onclick="location.href='/mock-draft'">Mock Draft</button>
    <button type="button" onclick="location.href='/live-draft'">Live Draft</button>
</body>
</html>