<!-- draft/templates/draft/live_draft.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Live Draft Assistant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'draft/live_draft.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const changePositionUrl = "{% url 'change_position' %}";
        const draftPlayerUrl = "{% url 'draft_player' %}";
        const removePlayerUrl = "{% url 'remove_player' %}";
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'draft/live_draft.js' %}"></script>
</head>
<body onload="setSortListener()">
    <h1>Live Draft Assistant</h1>
    
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Select Columns</button>
        <div id="myDropdown" class="dropdown-content">
            {% for header in headers %}
                <label class="dropdown-item">
                    <input type="checkbox" checked value="{{ column }}" onclick="selectColumn({{ forloop.counter0 }})"> {{ header }} 
                </label>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>

    <button type="button" onclick="changePosition('all')">All</button>
    <button type="button" onclick="changePosition('qb')">QB</button>
    <button type="button" onclick="changePosition('rb')">RB</button>
    <button type="button" onclick="changePosition('wr')">WR</button>
    <button type="button" onclick="changePosition('te')">TE</button>
    <button type="button" onclick="changePosition('k')">K</button>
    <button type="button" onclick="changePosition('def')">DEF</button>

    <br>
    <br>

    <button type="button" onclick="draftPlayer()">Draft</button>
    <button type="button" onclick="removePlayer()">Remove</button>
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <table id="playersTable">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr onclick="highlightRow(this)">
                        {% for stat in player %}
                            <td>{{ stat }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
