<!-- draft/templates/draft/all_statistics.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Player Statistics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'draft/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'draft/script.js' %}"></script>
</head>
<body>
    <h1>Player Statistics</h1>
    
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Select Columns</button>
        <div id="myDropdown" class="dropdown-content">
            {% for header in headers %}
                <label class="dropdown-item">
                    <input type="checkbox" checked value="{{ column }}" onclick="selectColumn(event, {{ forloop.counter0 }})"> {{ header }} 
                </label>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>

    <button type="button" onclick="location.href='/all-statistics'">All</button>
    <button type="button" onclick="location.href='/qb-statistics'">QB</button>
    <button type="button" onclick="location.href='/rb-statistics'">RB</button>
    <button type="button" onclick="location.href='/wr-statistics'">WR</button>
    <button type="button" onclick="location.href='/te-statistics'">TE</button>
    <button type="button" onclick="location.href='/k-statistics'">K</button>
    <button type="button" onclick="location.href='/def-statistics'">DEF</button>

    <br>
    <br>

    <button type="button" onclick="downloadTable()">Download</button>
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <table id="playersTable">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        {% for stat in player %}
                            <td>{{ stat }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
