<!-- draft/templates/draft/all_statistics.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Player Statistics</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'draft/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'draft/script.js' %}"></script>
</head>
<body>
    <h1>Player Statistics</h1>
    
    <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Select Columns</button>
        <div id="myDropdown" class="dropdown-content">
            {% for header in headers %}
                <label class="dropdown-item">
                    <input type="checkbox" checked value="{{ column }}" onclick="selectColumn(event, {{ forloop.counter0 }})"> {{ header }} 
                </label>
            {% endfor %}
        </div>
    </div>

    <br>
    <br>

    <button type="button" onclick="changePosition('all')">All</button>
    <button type="button" onclick="changePosition('qb')">QB</button>
    <button type="button" onclick="changePosition('rb')">RB</button>
    <button type="button" onclick="changePosition('wr')">WR</button>
    <button type="button" onclick="changePosition('te')">TE</button>
    <button type="button" onclick="changePosition('k')">K</button>
    <button type="button" onclick="changePosition('def')">DEF</button>

    <br>
    <br>

    <button type="button" onclick="getPPRVersion()">PPR</button>
    <button type="button" onclick="getStandardVersion()">Standard</button>
    <button type="button" onclick="downloadTable()">Download</button>
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <table id="playersTable">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        {% for stat in player %}
                            {% if forloop.first %}
                                <th>{{ stat }}</th>
                            {% else %}
                                <td>{{ stat }}</td>
                            {% endif %}
                        {% endfor %}
                        {% comment %} add an extra column that is hidden {% endcomment %}
                        <td style="display: none;">{{ player.0 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
